/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  min-height: 100vh;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Root Styles */
:root {
  /* Primary Colors */
  --red: 0, 100%, 74%;
  --green: 154, 59%, 51%;
  /* Accent */
  --blue: 248, 32%, 49%;
  /* Neutral */
  --dark-blue: 249, 10%, 26%;
  --grayish-blue: 246, 25%, 77%;
}

/* Utility classes */
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}

/* Page Styles */
body {
  padding: 6rem 1.5rem 4rem;
  font-family: "Poppins";
  color: white;
  display: grid;
  place-content: center;
  gap: 4rem;
  grid-template-rows: 12rem 1fr;
  background-color: hsl(var(--red));
  background-image: url("images/bg-intro-mobile.png");
  background-size: cover;
  text-align: center;
}

.description {
  display: grid;
  gap: 1rem;
}

h1 {
  padding: 0 3rem;
}

/* Form */

main {
  display: grid;
  grid-template-rows: 5.5rem 1fr;
  gap: 1rem;
}

.cta {
  align-self: center;
}
.cta > p {
  padding: 1rem 4rem;
  background-color: #5c54a3;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0 hsl(var(--dark-blue), 0.2);
}
.cta span {
  font-weight: 600;
}

.signup {
  padding: 1.5rem;
  background-color: white;
  display: grid;
  /* gap: 1rem; */
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0 hsl(var(--dark-blue), 0.2);
}
.signup input {
  padding: 1rem 1.5rem;
  margin: 0.75rem 0 0.25rem;
  width: 100%;
  font-weight: 700;
  border: 1px solid hsl(var(--grayish-blue));
  border-radius: 0.5rem;
}
.signup input[name="submit"] {
  background-color: hsl(var(--green));
  color: hsl(var(--white));
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
.form-alert {
  display: none;
  color: hsl(var(--red));
  font-size: 0.65rem;
  font-weight: 500;
  font-style: italic;
  justify-self: end;
}
.placeholder-red::placeholder {
  color: hsl(var(--red));
}

.input-container {
  position: relative;
  display: inline-block;
}
.inner-element {
  display: none;
  background: hsl(var(--red));
  width: 1.5rem;
  border-radius: 50%;

  position: absolute;
  right: 0.75rem;
  transform: translateY(-50%);
}

.tos {
  padding-inline: 1rem;
  margin-top: 0.75rem;
  color: hsl(var(--grayish-blue));
  font-size: 0.65rem;
}
.tos > a {
  text-decoration: none;
  color: hsl(var(--red));
  font-weight: 700;
}

/* Media Queries */
@media (min-width: 48rem) {
  body {
    padding: 6rem clamp(5rem, 10vw, 10rem);
    background-image: url("images/bg-intro-desktop.png");
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
    gap: 1rem;
  }
  main {
    gap: 0;
    justify-content: space-around;
  }
  .description {
    align-self: center;
    text-align: left;
    gap: 2rem;
  }
  h1 {
    padding: 0;
    font-size: 2.25rem;
    line-height: 1.1;
  }
  .cta {
    width: clamp(20rem, 50vw, 34rem);
  }
  .cta > p {
    padding: 1rem;
  }
  .signup {
    padding: 2rem 2rem 2.5rem;
  }
  .signup input {
    padding: 1rem 2rem;
  }
  .signup input[name="submit"]:hover,
  .signup input[name="submit"]:focus {
    background-color: hsl(var(--green), 0.6);
  }
  .inner-element {
    right: 2rem;
  }
}

@media (max-width: 21.75rem) {
  /* Fix element sizing on tiny screens */
  body {
    gap: 7rem;
  }
  .cta > p {
    padding: 1rem 2rem;
  }
}
